body{
    background-color: white;
}

*{transition: all .1s ease-in;}

h1{
    display: block;
    color:#EB7569;
    background: #4A4F56;
    text-align: center;
    margin:0 auto;
    padding-top: 20px;
    margin-bottom: 0px;
    font-family: Arial;
    font-size: 36px;

}
h3{
    display: block;
    color:#EB7569;
    background: #4A4F56;
    margin:0 auto;
    padding-bottom:20px;
    margin-top: 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
}


p input  {
    padding: 20px;
    margin:0 auto;
    font-family: Trebuchet MS;
    font-size: 24px;
    font-style: normal;
    color: white;
    background-color: #88839E;
    border-width: 0px;
}
span {
    display: block;
    padding: 20px;
    margin:0 auto;
    font-family: Trebuchet MS;
    font-size: 24px;
    font-style: normal;
    color: white;
    background-color: #88839E;
    border-width: 0px;
}

/*#child-elements :nth-child(2n){*/
    /*-webkit-appearance: textfield;*/
    /*background-color: #7A7593;*/
    /*-webkit-rtl-ordering: logical;*/
    /*cursor: text;*/
    /*border-width: 0px;*/

/*}*/

/*#child-elements {*/
    /*display: block;*/
    /*background-color:#3B3F45;*/
/*}*/
/*#child-elements :hover {*/
    /*background-color:rgba(235,117,105,0.5);*/

/*}*/

/*#child-elements :active {*/
    /*background-color: #625E77;*/
    /*!*border-color: white;*!*/

    /*border-left: 0px;*/
    /*border-top-width: 4px;*/
    /*border-bottom-width: 4px;*/
    /*border-color: white;*/
    /*font-style: inherit;*/

/*}*/


/*#child-elements :visited {*/
    /*text-decoration: line-through;*/


/*}*/

/*#child-elements :enabled {*/
    /*outline: none;*/
/*}*/

/*#child-elements :nth-child(8) {*/
    /*display: block;*/
    /*background-color:#4A4F56;*/
    /*width: 778px;*/
    /*margin: 0 auto;*/
    /*margin-top: 40px;*/
    /*margin-bottom: 40px;*/
    /*color: #EB7569;*/
    /*border-width: 0px;*/
/*}*/

/*#child-elements :first-child {*/
    /*background-color:#3B3F45;*/
    /*padding: 5px;*/
/*}*/
/*#child-elements :last-child {*/
    /*background-color:#3B3F45;*/
    /*padding: 0px;*/
/*}*/

/*[type='text'] :checked {*/
    /*width: 20px;*/
    /*left: 20px;*/
/*}*/


