@import "variables";

body {
  color: white;
  margin: 0px;
}

.section-inner, #place {
  min-width: 740px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
 .blok, .blok1, .blok3 {
    width: 504px;
    height: 383px;
    text-align: center;
    background: rgba(35, 35, 35, 0.9);
    margin-top: 216px;
    flex-direction: column;
    p {
      margin-top: 33px;
      text-align: left;
      font-family: $font;
      font-size: 16px;
      font-weight: 100;
      //letter-spacing: 1.3px;
      line-height: 23px;
    }
    h2 {
      margin-top: 0px;
      margin-bottom: 64px;
      padding-top: 50px;
      font-family: $font2;
      font-size: 36px;
      text-align: left;
      font-weight: 400;
      letter-spacing: 2.3px;
    }

    a {
      background: url("img/button.svg") center center no-repeat;
      height: 60px;
      width: 220px;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      font-family: $font2;
      font-size: 16px;
      letter-spacing: 1.3px;
    }
    a:hover {
      background: -webkit-linear-gradient(-130deg, #496bfe, #496bfe 60%, #5474fd 40%);
      background: -o-linear-gradient(-160deg, #496bfe, #496bfe 60%, #5474fd 40%);
      background: linear-gradient(-160deg, #C496bfe, #496bfe 60%, #5474fd 40%);
      font-weight: bold;
    }

  }

  .blok3 {
    background: rgba(35, 35, 35, 0.0);
    margin-top: 19px;
    margin-left: 105px;

  }

}

.row-blok3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 86px;
  a {
    margin-top: 43px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .image {
    width: 445px;
    height: 475px;
    margin-right: 105px;
    .image1 {
      float: left;
      padding-bottom: 5px;
    }
    .image2 {
      float: right;
    }
  }
}

.row {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .blok {
    font-family: $font;
    text-align: left;
    padding-left: 29px;
    margin-left: -10px;
    h5 {
      font-size: 20px;
      font-weight: 300;
      margin-top: 49px;
    }
    h4 {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
    }
    p {
      font-size: 16px;
      font-weight: 100;
      margin-top: -4px;
      margin-bottom: 47px;
      letter-spacing: -0.3px;
    }
    a {
      display: flex;

      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  .blok1 {
    font-family: $font;
    text-align: left;
    padding-left: 29px;
    margin-left: 100px;
    h5 {
      font-size: 20px;
      font-weight: 300;
      margin-top: 49px;
    }
    h4 {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
    }
    p {
      font-size: 16px;
      font-weight: 100;
      margin-top: -4px;
      margin-bottom: 47px;
      letter-spacing: -0.3px;
    }
    a {
      display: flex;

      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

}

#banner {
  background: url("img/banner.jpg") no-repeat right center;
  width: 100%;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;
  box-sizing: border-box;
  h1 {
    margin-top: 0px;
    padding-top: 307px;
    margin-bottom: 5px;
    font-family: $font;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.3px;
  }

  h3 {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 28px;
    font-family: $font;
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 6px;
  }
  .scroll {
    padding-top: 118px;
    letter-spacing: 3px;
    font-family: $font;
    font-size: 14px;
  }
  .search {
    font-size: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .input {
      border: none;
      width: 500px;
      height: 60px;
      text-align: center;
      font-family: $font2;
      font-size: 14px;
      letter-spacing: 4px;
      color: rgba(153, 153, 153, 0.3);
    }
    .input:focus {
      border: 2px solid #5474fd;
    }
    button {
      width: 150px;
      height: 60px;
      border: 2px solid white;
      background-color: #5474fd;
      color: #ffffff;
      font-family: $font2;
      font-size: 14px;
      text-align: center;
      border-left: 0;
    }
    button:after {
      content: "  \f002";
      font-family: FontAwesome;
      font-size: 25px;
      color: #F9F0DA;
    }

    button:hover {
      background: -webkit-linear-gradient(-130deg, #496bfe, #496bfe 60%, #5474fd 40%);
      background: -o-linear-gradient(-160deg, #496bfe, #496bfe 60%, #5474fd 40%);
      background: linear-gradient(-160deg, #C496bfe, #496bfe 60%, #5474fd 40%);
      font-weight: bold;
    }
  }

}

#menu {
  background: #5474fd;
  font: $font;
  h2 {
    padding-top: 26px;
    letter-spacing: 1.3px;
    margin-top: 0px;
    margin-left: 105px;
  }

  .nav {
    display: flex;
    text-transform: uppercase;
    lu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-left: 463px;
      margin-right: 105px;
      padding-top: 10px;
      li {
        font-size: 14px;
        letter-spacing: 1.3px;
        list-style-type: none;
        padding-right: 20px;
        a {
          text-decoration: none;
          color: white;
        }
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

#spain, #spain2, #spain3 {
  margin-top: 0px;
  min-height: 700px;
  position: relative;
  background-size: cover;
  box-sizing: border-box;

  .blok2 {
    text-align: center;
    h2 {
      padding-top: 130px;
      font-family: $font2;
      font-size: 36px;
      letter-spacing: 1.3px;
      margin-top: 0px;
    }
    img {
      margin-left: -19px;
    }
    span {
      margin-top: 85px;
      flex-direction: row;
      display: flex;
      justify-content: center;
      align-items: center;
      p:first-letter {
        color: #5474fd;
        font-size: 48px;
      }
      div {
        font-family: $font;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 300;
        font-style: normal;
        padding-top: 34px;
        padding-left: 38px;
      }
    }
    i {
      margin-top: 0px;
      width: 625px;
      height: 245px;
      margin-bottom: 0px;
      background: rgb(51, 51, 51);
      text-align: left;
      padding: 20px;
    }
    p {
      font-family: $font;
      font-size: 16px;
      font-style: normal;
      font-weight: 100;
      padding-top: 17px;
      padding-left: 38px;
      line-height: 25px;
    }
  }
}

#us {
  min-height: 684px;
  position: relative;
  background-size: cover;
  box-sizing: border-box;
}

#place {
  height: 330px;
  background: #333333 no-repeat right center;
  .text {
    font-family: $font2;
    font-size: 36px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    span:hover {
      color: #5474fd;
    }
  }
  img {
    padding-top: 46px;
    margin: 0 auto;
  }
}

#us {
  background: url("img/image3.jpg") no-repeat center center;
}

#spain {
  background: url("img/image4.jpg") no-repeat center center;
}

#spain2 {
  background: url("img/image5.jpg") no-repeat center center;
}

#spain3 {
  background: url("img/image7.jpg") no-repeat center center;

}

footer {
  min-height: 313px;
  background: #232323;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  h2 {
    margin-top: 0px;
    padding-top: 167px;
    font-family: $font;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.2px;
  }
  h3 {
    font-family: $font;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1.3px;
    margin-top: -10px;
  }

  i {
    padding: 10px;
  }
  i:hover {
    color: #5474fd;
  }
}


