h1 {
    font-size: 1.8em;

}

.fz0 {
    font-size: 0;
}
div{
    height: 200px;
    background: #ff16bd;
    margin: 50px;
    display: inline-block;
}

div:first-child {
    width: 200px;


}

div:nth-child(2){
    width: calc(100% - 200px - 200px);

}